


/* Oxanium Font Import */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Oxanium:wght@400;700&display=swap");

/* Variables */




/* Body */

body{
    background-image: linear-gradient(#bb0808, #8f1111);
    --ox: "Oxanium";
    --shdw: "text-shadow: 5px 3px 5px rgb(44, 43, 43)";
    text-shadow: 5px 3px 5px rgb(44, 43, 43);
    font-family: var(--ox);

  }
  
  body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: var(--ox);
    
  }
  p{
    font-size: 18px;
  }
  
  /* Header */
  
  header{
    display: flex;
    background-color: #c75b4b;
    position: relative;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    
     
  
  }
  header h1{
    color:#faf6fe;
    display: inline-block;
    padding: 6px 6px;
    font-size: 4em;
    left: 20px; 
  }
  
  /* Banner Section */
  
  .banner{
    position: relative;
    padding-bottom: 1%;
       
    
  }
  .banner img{
  
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0;
  
    
  }
  
  .banner .name{
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 1.1em;
    bottom: 0.005%;
    text-shadow: #FC0 1px 0 7px;
    right: 12%;
    
  } 
  .banner .name span{
    font-size: 1.7em;
    font-family: var(--ox);
  }
  
  /* Navigation */
  
  nav{
    display: inline-block;
    background: #b1b2c8;
    padding: 5px;
    position:sticky;
    top:10%;
    z-index: 1;
  }
  nav ul{
    /* background-color: white; */
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
   
    
  }
  nav li{
    padding: 5px;    
    max-width: 100%; 
    font-size: 24px;

   
  }

  
  nav li a{
    text-decoration: none;
    font-size: 1.5em;
    color: #faf6fe;
  
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.contact{
    color: #F63232;
  }
  
  /* Main */
  
  main{
    
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  /* Article */
  
  article h2{
    color: #f1c639;
    font-size: 48px;
    font-family: var(--ox);
    text-shadow: #312a12 5px 3px 5px;
  }
  article p{
    line-height: 2em;
    color: #eeeeee;
  }
  article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
  }
  
  /* Images / Cards */
  
  .images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  }
  .images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
  }
  .images li:hover{
    top: -4px;
  }
  .images li img{
    max-width: 100%;
  }
  
  /* Contact Section */
  
  section.contact{
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
  }
  section.contact h2{
    font-size: 36px;
  }
  
  /* Form */
  
  form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
  }
  form input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
  }
  form input:valid{
    border: 4px solid #71d300;
  }
  
  /* Footer */
  
  footer{
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* Media Queries*/
  
  @media screen and (max-width: 1400px){
  
    .banner .name{
      font-size: 40px;
    }
  
  }
  
  @media screen and (max-width: 992px){
  
    .banner .name{
      font-size: 28px;
    }
    nav li{
      font-size: 18px;
    }
  
  }
  
  @media screen and (max-width: 768px){
  
    .banner .name{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .banner .name br{
      display: none;
    }
    .banner .name span{
      font-size: 1em;
    }
    nav li{
      font-size: 18px;
    }
    .images li{
      width: 100%;
      display: block;
      margin: 20px auto;
    }
  
  }
  
  @media screen and (max-width: 576px){
  
    .banner .name{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .banner .name br{
      display: none;
    }
    .banner .name span{
      font-size: 1em;
    }
    nav li{
      display: block;
      width: 100%;
      margin: 12px 0;
    }
    article h2{
      font-size: 36px;
    }
    header, nav{
      position: relative;
      top: 0;
    }
    
  
  }